<!-- [routerLink]="['/hero-page', hero.id]"
 -->

<div class="card">
  <img
    [routerLink]="['/hero-page', hero.id]"
    class="imageCard"
    src="{{ hero.thumbnail.path }}.{{ hero.thumbnail.extension }}"
    alt="image"
    width="250px"
    height="250px"
  />
  <div class="cardText">
    <h5>{{ hero.name }}</h5>
    <ng-container *ngIf="checkColorLike(); else CardRedHeart">
      <img
        (click)="changeLikedHeroes()"
        src="../../../assets/heart.png"
        alt="dsaf"
        width="15px"
      />
    </ng-container>

    <ng-template #CardRedHeart>
      <img
        (click)="changeLikedHeroes()"
        src="../../../assets/red_heart.png"
        alt="dsaf"
        width="15px"
      />
    </ng-template>
  </div>
</div>
