<!-- [routerLink]="['/hero-page', hero.id]"
 -->

<div class="card">
  <img
    class="imageCard"
    src="{{ hero.thumbnail.path }}.{{ hero.thumbnail.extension }}"
    alt="image"
    width="250px"
    height="250px"
  />
  <div class="cardText">
    <h5>{{ hero.name }}</h5>
    <ng-container>
      <img
        (click)="changeLikeState()"
        class="logo"
        src="../../../assets/heart.png"
        alt="dsaf"
        width="15px"
      />
    </ng-container>



    <ng-template #other>
      <img
        (click)="changeLikeState()"
        class="logo"
        src="../../../assets/red_heart.png"
        alt="dsaf"
        width="15px"
      />
    </ng-template>



  </div>
</div>
