<div class="heroListContainer">
  <app-searcher
    (emisionHeroes)="getHeroByQuery($event)"
    (emisionValorInput)="getInputValue($event)"
    #searcher
  ></app-searcher>

  <ng-container *ngIf="heroes.length > 0; else cargando">
    <p>
      <strong>{{ heroes.length }} results</strong>
    </p>
    <span *ngIf="heroes.length === 0" class="error">
      There is no results with "{{ searcher.inputValue }}"
    </span>
  </ng-container>
  <ng-template #cargando>
    <div class="loader-container">
      <h5>Loading heroes...</h5>
      <img
        width="70px"
        class="loader"
        src="../../../assets/loader.svg"
        alt=""
      />
    </div>
  </ng-template>
</div>

<section>
  <div class="cards-list">
    <app-card [hero]="hero" *ngFor="let hero of heroes"></app-card>
  </div>
</section>
