section {
  margin: 0;
  padding: 0vh 20vw;
}

.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  height: 80vh;
}

.loader {
  filter: invert(1);
}

.heroInfo {
  display: flex;
  background-color: black;
  color: white;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

  .heroImage {
    width: 200px;
    height: 200px;
    //overflow: hidden;
  }

  img {
    aspect-ratio: 1/1;
  }

  .info {
    padding: 0px 30px;

    display: flex;
    flex-direction: column;
    justify-content: center;

    p {
      margin: 0;
      font-size: 14px;
    }

    .title {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 40px;
    }
  }
}

ul {
  scrollbar-width: normal;
}

ul::-webkit-scrollbar {
  width: 10px;
  height: 8px;
}

ul::-webkit-scrollbar-thumb {
  background-color: rgb(225, 12, 12);
  height: 50%;
}

ul::-webkit-scrollbar-track {
  background-color: rgb(225, 225, 225);
}

.comics {
  padding: 4vh 20vw;
  display: flex;
  flex-direction: column;

  .carousel {
    max-width: 1200px;
    width: 100%;

    .image-list {
      display: flex;
      gap: 10px;
      font-size: 0;
      list-style: none;
      margin-bottom: 30px;
      overflow-x: auto;

      .image-container {
        display: flex;
        flex-direction: column;
        padding: 20px 5px;
        color: black;

        .image-item {
          width: 225px;
          height: 300px;
          object-fit: cover;
        }
      }
    }
  }
}

/* Media queries */

@media (width <= 960px) {
  .heroInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: black;
    color: white;
    //background-color: red;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

    .heroImage {
      margin-top: 20px;
      width: 300px;
      height: 300px;
      border: 2px solid white;
      //overflow: hidden;
    }

    .info {
      padding: 20px;

      display: flex;
      flex-direction: column;
      justify-content: center;

      p {
        //text-align: center;
        margin-top: 10px;
        //margin: 0;
        font-size: 14px;
      }

      .title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 40px;
      }
    }
  }

  .comics {
    h2 {
      margin: 0;
    }
    padding: 4vh 10vw;
    display: flex;
    flex-direction: column;

    .carousel {
      max-width: 1200px;
      width: 100%;

      .image-list {
        display: flex;
        gap: 10px;
        font-size: 0;
        list-style: none;
        margin-bottom: 30px;
        overflow-x: auto;

        .image-container {
          display: flex;
          flex-direction: column;
          padding: 20px 5px;
          color: black;

          .image-item {
            width: 325px;
            height: 400px;
            object-fit: cover;
          }
        }
      }
    }
  }
}
