<nav>
  <img
    routerLink="heroes"
    src="../../../assets/Marvel_Logo.png"
    alt="marvelLogo"
    width="100px"
    height="50px"
  />
  <div     routerLink="favourites"
  >
    <ng-container *ngIf="likedHeroesLength === 0; else NavbarRedHeart">
      <img src="../../../assets/heart.png" alt="" width="25px" height="25px" />
    </ng-container>

    <ng-template #NavbarRedHeart>
      <img
        src="../../../assets/red_heart.png"
        alt=""
        width="25px"
        height="25px"
      />
    </ng-template>

    <span>{{ likedHeroesLength }}</span>
  </div>
</nav>
