.heroListContainer {
  padding: 2vh 3vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  h2 {
    margin: 0;
  }
}

section {
  display: flex;
  justify-content: center;
  padding: 2vh 3vw;

  .cards-list {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 10px;
  }
}

@media (width <= 1534px) {
  section {
    display: flex;
    justify-content: center;
    padding: 2vh 3vw;

    .cards-list {
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      gap: 10px;
    }
  }
}

@media (width <= 1284px) {
  section {
    display: flex;
    justify-content: center;
    padding: 2vh 3vw;

    .cards-list {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 10px;
    }
  }
}

@media (width <= 1026px) {
  section {
    display: flex;
    justify-content: center;
    padding: 2vh 3vw;

    .cards-list {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 10px;
    }
  }
}

@media (width <= 766px) {
  section {
    display: flex;
    justify-content: center;
    padding: 2vh 3vw;

    .cards-list {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 10px;
    }
  }
}

@media (width <= 506px) {
  section {
    display: flex;
    justify-content: center;
    padding: 2vh 3vw;

    .cards-list {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      gap: 10px;
    }
  }
}
