/* You can add global styles to this file, and also import other style files */

//Variables:

:root {
  line-height: 1.5;
  font-weight: 400;

  --main--dark-color: #101010;
}

* {
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

.error {
  color: red;
}
